[Unit]
Description=Iptables Restore
After=network.target

[Service]
Type=oneshot
# iptables-restore also flushes the tables
ExecStart=iptables-restore /etc/iptables/rules.v4

[Install]
WantedBy=multi-user.target